* {
    font-family: "Main", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: inherit;
    scroll-behavior: smooth;
    z-index: 1;
    line-height: var(--lh-lg);
}

html,
body {
    overflow-x: hidden !important;
    margin: 0;
    color: var(--color-second);
    width: 100%;
    max-width: 100vw;
    // overflow-x: hidden;
    // position: relative;
    // min-height: 100vh;
    // overflow-y: hidden;
}

main {
     overflow-x: hidden !important;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
}

#offer:target {
    scroll-margin-top: 200px;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
    max-width: 100vw !important;
}

.double-arrow {
    position: relative;
    width: 40px;
    height: 60px;
    margin: 40px 0;
    transform: translateX(9px);

    &::before,
    &::after {
        content: "";
        left: 0;
        position: absolute;
        width: 44px;
        height: 44px;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        animation: gradientAnimation 2s infinite alternate;
    }

    &::before {
        transform: rotate(45deg);
        animation-delay: 0.1s;
    }

    &::after {
        top: 30px;
        transform: rotate(45deg);
    }

    @media(min-width: $sm) {
        right: 0;
        left: calc(100% - 64px);
    }

}

@keyframes gradientAnimation {
    0% {
        border-color: #0B1957;
    }

    100% {
        border-color: #5784E6;
    }
}

.background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    min-height: 250px;
}

.swiper {
    overflow: visible;
    overflow-x: hidden;
    width: 100%;
}


.map {
    width: 100vw;
    height: 528px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $sm) {
        width: 100%;
    }

}

.link {
    text-decoration: underline;
}

.before-lg {
    display: flex !important;

    @include lg {
        display: none !important;
    }
}

.after-lg {
    display: none !important;

    @include lg {
        display: flex !important;

        &.more__grid {
            display: grid !important;
        }
    }
}
