.line {
    &-top {
        border-top: 1px solid var(--color-grey);
    }

    &-bottom {
        border-bottom: 1px solid var(--color-grey);
    }

    &-left {
        border-left: 1px solid var(--color-grey);
    }

    &-right {
        border-right: 1px solid var(--color-grey);
    }

    &-center {
        position: relative;

        &::after {
            content: '';
            top: 0;
            left: 50%;
            height: 100%;
            position: absolute;
            width: 1px;
            background-color: var(--color-grey);
        }
    }
}