.margin {
    &-top-sm {
        margin-top: var(--size-sm);
    }

    &-top-md {
        margin-top: var(--size-md);
    }

    &-top-lg {
        margin-top: var(--size-lg);
    }

    &-top-xl {
        margin-top: var(--size-xl);
    }

    &-bottom-sm {
        margin-bottom: var(--size-sm);
    }

    &-bottom-md {
        margin-bottom: var(--size-md);
    }

    &-bottom-lg {
        margin-bottom: var(--size-lg);
    }

    &-bottom-xl {
        margin-bottom: var(--size-xl);
    }

    &-left-auto {
        margin-left: auto;
    }

    &-right-auto {
        margin-right: auto;
    }

    &-auto {
        margin: auto;
    }

}