.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: max-content;
    position: relative;
    overflow: hidden;
    color: var(--color-second);
    background: var(--color-white);
    font-size: var(--size-xs);
    cursor: pointer;
    padding: var(--size-sm) var(--size-sm);
    border: 4px solid var(--color-white);
    max-width: 440px;
    width: 100%;
    font-weight: 700;

    * {
        color: var(--color-second);
    }

    transition: 0.3s ease;

    &--icon {
        padding: 0;
        width: auto;
        height: 60px;
        aspect-ratio: 1;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: var(--size-xxxs);
        // background-color: var(--color-white);
        font-size: var(--size-md);
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        transition: color 0.3s ease;
        position: relative;
        font-weight: 700;
        z-index: 1;
    }

    &:hover {
        background: none;

        * {
            color: var(--color-white);
        }

        &::before {
            transform: translateX(0);
        }
    }

    &--icon {
        // &:hover {
        //     background: var(--gradient-main);
        //     ;
        // }
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: var(--color-white);
    //     transform: translateX(-100%);
    //     transition: transform 0.3s ease;
    //     z-index: 0;
    // }

    &--color {
        background: var(--gradient-main);
        border: 4px solid transparent;
        border-image: var(--gradient-main);
        border-image-slice: 1;

        * {
            color: var(--color-white);
        }

        &:hover {
            * {
                color: var(--color-second);
            }
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: var(--color-blue-main);
        //     transform: translateX(-100%);
        //     transition: transform 0.3s ease;
        //     z-index: 0;
        // }
    }
}
