@import "./root";

.date {
    display: flex;
    font-size: var(--size-xs);

    &__item {
        padding:  0 var(--size-xs);

        &:nth-child(1) {
            padding-left: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid var(--color-white);
        }
    }

}