.header {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 9;
    transition: all 0.3s ease;
    color: var(--color-white);

    padding-top: var(--size-sm);
    padding-bottom: var(--size-sm);

    @include md {
        padding-top: initial;
        padding-bottom: initial;
    }
    * {
        font-weight: 600;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: row;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: var(--size-md);
    }

    &__menu {
        position: absolute;
        margin-left: auto;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 0;
        transition: all 0.3s ease;
        z-index: 8;

        &.active {
            display: flex;
            counter-reset: link-counter;
            top: 50vh;
            transform: translateY(-20vh);

            .header__link {
                font-size: var(--size-md);
                counter-increment: link-counter;

                &::before {
                    content: "0" counter(link-counter) ". ";
                    margin-right: 0.5em;
                }
            }
        }
    }

    &__link {
        font-size: var(--size-md);
        color: var(--color-white);
        text-align: left;
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        // text-shadow: 0 0 0 rgba(87, 132, 230, 0);

        &:hover {
            color: var(--color-grey-light);
            // color: var(--color-blue-main);
            text-shadow:
                0 0 30px rgba(255, 255, 255, 0.5),
                0 0 50px rgba(255, 255, 255, 0.7);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__logo {
        &:hover {
            svg {
                filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
            }
        }
    }

    &__link--main {
        color: var(--color-orange);
        font-weight: 500;

        &:hover {
            color: var(--color-orange-dark);
        }
    }

    &__button {
        font-size: var(--size-xs);
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__hamburger {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // justify-content: center;
        // align-items: center;
        width: 40px;
        // height: 40px;
        cursor: pointer;
        // z-index: 10;
        position: relative;
        // margin-left: auto;
        // border: 2px solid var(--color-white);

        span {
            width: 100%;
            height: 2px;
            background-color: var(--color-white);
            transition: 0.3s;
            position: relative;
            // display: block;
        }

        &.active {
            span:nth-child(1) {
                transform: translateY(12px) rotate(45deg);
            }

            span:nth-child(2) {
                transform: scale(0);
            }

            span:nth-child(3) {
                transform: translateY(-12px) rotate(-45deg);
            }
        }
    }

    @media (min-width: 767px) {
        &__button {
            font-size: var(--size-xs) !important;
        }
    }

    @media (min-width: 1024px) {
        &__content {
            flex-direction: row;
        }

        &__item {
            gap: var(--size-md);

            &:first-child {
                flex-grow: 1;
            }
        }

        &__menu {
            position: static;
            display: flex;
            flex-direction: row;
            width: auto;
            box-shadow: none;
            border-bottom: none;
            gap: var(--size-md);
            opacity: 1 !important;
            visibility: visible !important;
        }

        &__link {
            font-size: var(--size-xs);
            padding: 0;
            border-bottom: none;
            text-align: center;

            &:hover {
                background-color: transparent;
            }
        }

        &__hamburger {
            display: none;
        }
    }
}
