.list {
    position: relative;



    &__content {

        display: flex;
        flex-direction: column;

        &--row {
            flex-direction: row !important;
        }

    }

    &--mobile {

        .list__header {
            flex-basis: 50%;
        }

        .list__items {
            flex-basis: 50%;
           
        }

        @media(min-width: $sm) {
            .list__content {
                flex-direction: row;
            }

        }
    }

    &__header {
        padding: var(--size-sm) 0;

        * {
            font-weight: 700;
        }
    }

    &--mobile {
        @media(min-width: $sm) {
            .list__header {
                height: max-content;
                border: none !important;
                position: sticky;
                top: 0;
            }

        }
    }

    &__items {

        display: flex;
        flex-direction: column;
         gap: var(--size-sm);

        &--column {
            flex-direction: column !important;
        }

        &--border-top {
            @media(min-width: $sm) {
                border-top: 1px solid var(--color-grey-light);
            }

        }

        &--background {
            background: var(--gradient-main);

            * {
                color: var(--color-white);
            }
        }
    }

    &--mobile {
        @media(min-width: $sm) {
            .list__items {
                padding-top: var(--size-sm);
            }
        }
    }

    &:not(.list--mobile) {
        @media(min-width: $sm) {
            .list__items {
                flex-direction: row;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // min-height: 74px;
        font-size: var(--size-xs);
        padding: var(--size-sm) 0;
        
        font-weight: 700;
        

        * {
            font-weight: 700;
        }

        &--thin {
            font-weight: 400;
        }

        &--column {
            gap: var(--size-xs);
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
        }

        &--start {
            align-items: start;
        }

        &--background {
            background: var(--gradient-main);
            padding: var(--size-sm);
            width: 100% !important;
            flex-direction: column;

            * {
                color: var(--color-white);
                font-weight: 700;
            }

            @include sm {
                width: 65% !important;
                flex-direction: row;
            }
        }



        &:nth-child(2n) {
            .list__image {
                order: -1;
            }
        }

        &:not(.list__item--sm) {
            @media(min-width: $sm) {
                font-size: var(--size-md);
            }
        }

        @media(min-width: $sm) {
            // min-height: 135px;
        }

        &--small {
            font-size: var(--size-xs) !important;
            font-weight: 600;

            * {
                font-size: var(--size-xs) !important;
                font-weight: 600;
            }
        }

    }

    &:not(.list--mobile) {
        @media(min-width: $sm) {
            .list__item {
                flex-grow: 1;
                flex-basis: 50%;
                // border-right: 1px solid var(--color-grey-light);
                border-bottom: none;
            }

        }
    }


    &__image {
        flex: 1;
        width: 50%;
        overflow: hidden;
        aspect-ratio: 1/1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}