.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: var(--color-regular);

    &__window {
        padding: var(--size-xl) var(--size-lg);
        background-color: var(--color-white);
        border-radius: var(--size-lg);
        max-width: 750px;
        position: relative;
        margin: var(--size-lg);
        opacity: 0;

        &--active {
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        right: var(--size-sm);
        top: var(--size-sm);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        cursor: pointer;
        z-index: 10;
        margin-left: auto;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--color-main);
            transition: all 0.3s ease;
        }

        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-lg);
        color: var(--color-regular);
        text-align: center;
    }

    &__headline {
        font-size: var(--size-md);
        color: var(--color-main);
        line-height: 1.2;
        font-weight: 800;
    }

    &__text {
        font-size: var(--size-sm);
        line-height: 1.2;
        color: var(--color-regular);
    }

    &__button {
        //     width: max-content;
        //     background-color: var(--color-main);
        font-weight: 700;
        color: var(--color-white);

        &:hover {
            color: var(--color-regular) !important;
        }
    }
}
