.more {
    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__areas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: var(--size-xxs);
        grid-template-areas:
            "a a a"
            "b b b";

        @include xl {
            grid-template-areas: "a b b";
        }
    }

    &__grid {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--size-xxs);
        // flex-wrap: wrap;
        // justify-content: space-around;

        &--a {
            grid-area: a;
        }

        &--b {
            grid-area: b;
        }
    }

    &__item {
        grid-column: span 4;
        background: var(--gradient-main);
        // border-radius: var(--size-sm);
        padding: var(--size-sm) var(--size-sm);
        // flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
        // max-width: calc(32% - var(--size-xxs) * 2 / 3);
        display: flex;
        flex-direction: column;
        gap: calc(var(--size-xxxs) * 0.8);

        * {
            color: var(--color-white);
        }

        &--half {
            grid-column: span 6;

            @include xl {
                grid-column: span 12;
            }
        }

        &--center {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--full {
            grid-column: span 12;
        }

        &--bright {
            border: 4px solid var(--color-second);
            background: var(--color-white) !important;

            .more__item-text--color {
                color: var(--color-main);
            }

            * {
                color: var(--color-second);
            }
        }

        &--dark {
            background: var(--color-dark) !important;
        }
    }

    &__star {
        width: var(--size-xxl);
    }

    &__list {
        margin-left: var(--size-xxs);
    }

    &__item-text {
        font-size: var(--size-sm);
        font-weight: 700;
        line-height: 1.2;

        @include lg {
            font-size: var(--size-xs);
        }

        &--big {
            font-size: var(--size-md);

            @include lg {
                font-size: var(--size-sm);
            }
        }


    }

    &__swiper {
        margin-bottom: var(--size-sm);
        width: 100%;
    }
}