.text {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    gap: var(--size-md);
    flex: 1;
    width: 50%;

    &--start {
        margin: 0;
    }

    &--full {
        width: 100%;
        flex-grow: 1;
    }

    &--max-width {
        flex-basis: 100%;
    }


    &-base {
        font-size: var(--size-md);
        font-weight: 600;

        &--normal {
            font-weight: 500;
        }
    }

    &-regular {
        font-size: var(--size-xs);
        font-weight: 600;

        @media(min-width: $sm) {
            font-size: var(--size-md);
        }
    }

    &-sm {
        font-size: var(--size-sm);
        font-weight: 500;
    }

     &-xxs {
        font-size: var(--size-xxs);
        // font-weight: 500;
    }
}